[Unit]
Description=IdleRPG IRC bot daemon
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=forking
User=idlerpg
WorkingDirectory=/path/to/idlerpg
ExecStart=/usr/bin/perl --verbose --debug bot.pl
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
